<div class="main-container top-container">
  <h1 class="heading header-font">Bio</h1>
  <hr />
  <br />
  <div class="inner-container">
    <div class="item">
      <mat-card class="card about-tom">
        <mat-card-title>About Tom</mat-card-title>
        <hr />
        <mat-card-content>
          <p>
            I moved to Denmark with my Danish wife from Los Angeles, Califorina
            in 2008, we have two children born in the USA. We wanted to raise
            them in Denmark as we always both loved the culture, people, nature
            and great human spirit of the Scandinavians. Lastly, I live in
            Denmark under my Swedish passport as my side of the family goes back
            far from church records in Uppsala, Sweden. Most of my present day
            families live in Halmstad and Malmo, Sweden.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="item">
      <img
        class="text-image"
        src="../../../assets/images/home1.JPG"
        alt="Photo of a Shiba Inu"
      />
    </div>
  </div>
</div>
<div class="banner">
  <img src="../../../assets/images/brush_cropped.jpg" alt="brushes" />
</div>

<div class="main-container">
  <div class="inner-container">
    <div class="item">
      <mat-card class="card">
        <mat-card-title>Education</mat-card-title>
        <hr />
        <mat-card-content>
          <p>
            1). Webster Elementary School. Malibu, California. USA. <br />
            2). Malibu Park Junior High School. Malibu, California. USA.<br />
            3). Santa Monica High School. Santa Monica, California. USA. Class
            of 1979.<br />
            4). The Primrose Center a private academy in Custom Furniture Design
            and Construction. Endorsed by the University of Montana. Missoula,
            Montana. USA. Full year of portfolio pieces completed 1981. <br />
            5). Los Angeles Pierce College. Woodland Hills, California. USA.
            Mechanical Drafting Engineer. Associate of Arts Degree 1984.<br />
            6). California State University Northridge. Northridge, California.
            USA. Art - Wood Design. Bachelor's Degree 1987.<br />
            7). National Association of Corrosion Engineers. Certified Coating
            Inspector. Houston, Texas. USA 1996. <br />
            8). Los Angeles Pierce College. Woodland Hills, California. USA.
            Real Estate. Certificate of Completion 1998.<br />
            9). Business Academy Aarhus. Aarhus, Denmark. Computer Science.
            Software Development. 2 years of classes (2012-2014).
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="item">
      <mat-card class="card work-experience">
        <mat-card-title>Career Work Experiences.</mat-card-title>
        <hr />
        <mat-card-content>
          <p>
            1). Tom C. Bernold Painting. (1988-2000) Ventura and Los Angeles
            Counties, California, USA. Owner. <br />
            2). Coldwell Banker Residential Brokerage. (2001-2007) Westlake
            Village, California. USA. Associate Broker. <br />
            3). Color Hus Malermaster. (2008-2019) Owner present position.
            Silkeborg, Denmark. <br />
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<div class="main-container">
  <div class="inner-container">
    <div class="item">
      <mat-card class="card">
        <mat-card-title>My Story</mat-card-title>
        <hr />
        <mat-card-content>
          <p>
            After I graduated from university in the Arts, I was hired as a
            professional journeyman painter with one of the finest painting
            contractor companies in Malibu, California, USA the Mister Roberts
            Painting Company. I gained valuable painting work experience, I soon
            realized I had a business mind and was quite skilled. Shortly there
            after I decided to start my own painting company. It turned into a
            great success and I never looked back, now 30 plus years later I am
            still going strong. I can personally guarantee my work and happy
            customer results. I have worked on some of the most amazing homes
            ever built in southern California, USA. The years in Denmark have
            only added to my expertise as I have learned new important
            techniques and materials. It does not matter what you need painted,
            this is my passion and career, all of it is rewarding to perform.
            Call now 60 65 88 87.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<app-contact-footer></app-contact-footer>
