<div class="main-container top-container">
  <h1 class="heading header-font">Bio</h1>
  <hr />
  <br />
  <div class="inner-container">
    <div class="item">
      <mat-card class="card about-tom">
        <mat-card-title>{{ "card-title-1" | transloco }}</mat-card-title>
        <hr />
        <mat-card-content>
          <p>
            {{ "bio-desc-1" | transloco }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="item">
      <img
        class="text-image"
        src="../../../assets/images/home1.JPG"
        alt="Photo of a Shiba Inu"
      />
    </div>
  </div>
</div>
<div class="banner">
  <img src="../../../assets/images/brush_cropped.jpg" alt="brushes" />
</div>

<div class="main-container">
  <div class="inner-container">
    <div class="item">
      <mat-card class="card">
        <mat-card-title>{{ "bio-title-2" | transloco }}</mat-card-title>
        <hr />
        <mat-card-content>
          <p class="translated-paragraph">
            {{ "bio-desc-2" | transloco }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="item">
      <mat-card class="card work-experience">
        <mat-card-title>{{ "bio-title-3" | transloco }}</mat-card-title>
        <hr />
        <mat-card-content>
          <p class="translated-paragraph">
            {{ "bio-desc-3" | transloco }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<div class="main-container">
  <div class="inner-container">
    <div class="item">
      <mat-card class="card">
        <mat-card-title>{{ "bio-title-4" | transloco }}</mat-card-title>
        <hr />
        <mat-card-content>
          <p>
            {{ "bio-desc-4" | transloco }}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<app-contact-footer></app-contact-footer>
