<div class="masonry-container top-placement">
  <div>
    <h1 class="heading header-font">View our work</h1>
    <hr />
    <br />
  </div>

  <ngx-masonry
    [options]="masonryOptions"
    style="width: 90vw"
    [ordered]="true"
    (itemsLoaded)="itemsLoaded()"
  >
    <div
      ngxMasonryItem
      [prepend]="image[0]"
      *ngFor="let image of masonryImages; index as idx"
      style="width: 30%"
    >
      <img
        alt="Color Hus Malermester Silkeborg"
        [src]="image[1]"
        width="100%"
      />
    </div>
  </ngx-masonry>

  <button
    mat-raised-button
    color="primary"
    *ngIf="limit < 50"
    (click)="showMoreImages()"
  >
    Show more images
  </button>
  <br />
  <h2 class="heading header-font" *ngIf="limit >= 50">No images left</h2>
  <br />
</div>
