<div class="background-parallax">
  <div class="header-spacer">
    <div class="centered-header home-fonts">
      <div class="company-name">
        Color Hus <br />
        Malermester
      </div>
      <div class="company-moto">{{ "heading-subtitle" | transloco }}</div>
    </div>
    <div class="centered-contact home-fonts">
      <a class="contact" href="tel:60658887"
        ><mat-icon>phone</mat-icon> +45 60 65 88 87</a
      ><br /><br />

      <a class="contact" [href]="emailstring" target="_top"
        ><mat-icon>mail</mat-icon> tombernold@gmail.com</a
      ><br /><br />
      <div class="contact">
        <mat-icon>house</mat-icon> Bakkevænget 62, 8600 Silkeborg
      </div>
    </div>
  </div>
</div>

<div class="column-flex">
  <mat-card class="info-card info-font">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{ "card-title-1" | transloco }}</mat-card-title>
      <mat-card-subtitle>{{ "card-subtitle-1" | transloco }}</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="../../../assets/images/Tom.jpg"
      alt="Photo of Tom Bernold"
      class=""
    />
    <mat-card-content>
      <p>
        {{ "card-desc-1" | transloco }}
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="info-card info-font">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title> {{ "card-title-2" | transloco }} </mat-card-title>
      <mat-card-subtitle>{{ "card-subtitle-2" | transloco }}</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="../../../assets/images/logo.jpg"
      alt="Photo of Color Hus Logo"
      style="padding-top: 40px"
    />
    <mat-card-content>
      <p style="padding-top: 30px">
        {{ "card-desc-2" | transloco }}
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="info-card info-font">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{ "card-title-3" | transloco }}</mat-card-title>
      <mat-card-subtitle>{{ "card-subtitle-3" | transloco }}</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="../../../assets/images/work1.jpg"
      alt="Photo of a work session"
      class="resized-img"
    />
    <mat-card-content>
      <p>
        {{ "card-desc-3" | transloco }}
      </p>
    </mat-card-content>
  </mat-card>
</div>
<app-contact-footer></app-contact-footer>
