<div class="background-parallax">
  <div class="centered-header home-fonts">
    <div i18n="company name|name of the company" class="company-name">
      Color Hus <br />
      Malermester
    </div>
  </div>
  <div class="centered-contact home-fonts">
    <a class="contact" href="tel:60658887"
      ><mat-icon>phone</mat-icon> +45 60 65 88 87</a
    ><br /><br />

    <a class="contact" [href]="emailstring" target="_top"
      ><mat-icon>mail</mat-icon> tombernold@gmail.com</a
    ><br /><br />
    <div class="contact">
      <mat-icon>house</mat-icon> Bakkevænget 62, 8600 Silkeborg
    </div>
  </div>
</div>

<div class="column-flex">
  <mat-card class="info-card info-font">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title i18n="introduction card|intro heading"
        >About Tom</mat-card-title
      >
      <mat-card-subtitle i18n="introduction card subtitle|intro subtitle"
        >Meet the painter</mat-card-subtitle
      >
    </mat-card-header>
    <img
      mat-card-image
      src="../../../assets/images/Tom.jpg"
      alt="Photo of Tom Bernold"
      class=""
    />
    <mat-card-content>
      <p i18n="introduction description|a description of Tom">
        Tom has been painting homes and buildings since 1988. Experience,
        service, care and top quality craftsmanship are the keys to my years of
        longevity in this buisness
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="info-card info-font">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title i18n="professional painter|about the company header"
        >Professional painter based in Silkeborg</mat-card-title
      >
      <mat-card-subtitle i18n="motivation subtitle|company subtitle"
        >Tom can handle it all.</mat-card-subtitle
      >
    </mat-card-header>
    <img
      mat-card-image
      src="../../../assets/images/logo.jpg"
      alt="Photo of Color Hus Logo"
      style="padding-top: 40px"
    />
    <mat-card-content>
      <p
        i18n="motivation description|a description of what the company does"
        style="padding-top: 30px"
      >
        Color Hus Malermester uses premium paint products to handle all of your
        needs. Call Tom for a non-binding offer on your home. With many years of
        experience, Color Hus gives excellent advice on coloring and beautifying
        your home. Call 60 65 88 87.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="info-card info-font">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title i18n="bidding title|title of bidding section"
        >Free bidding and color consultation</mat-card-title
      >
      <mat-card-subtitle i18n="bidding subtitle|subtitle of bidding section"
        >Get a bid today.</mat-card-subtitle
      >
    </mat-card-header>
    <img
      mat-card-image
      src="../../../assets/images/work1.jpg"
      alt="Photo of a work session"
      class="resized-img"
    />
    <mat-card-content>
      <p i18n="bidding description|description of bidding section">
        Years of education, completed paint jobs, plus keeping the overhead low
        saving you big. Light weight equipment, efficiency, calculated.
      </p>
    </mat-card-content>
  </mat-card>
</div>

<app-contact-footer></app-contact-footer>
<!-- <div class="column-flex-footer">
  <div class="footer-contact">
    <a href="tel:60658887"><mat-icon>phone</mat-icon> +45 60 65 88 87</a>
  </div>
  <div class="footer-contact">
    <a [href]="emailstring" target="_top"
      ><mat-icon class="vertical-align: bottom;">email</mat-icon>
      tombernold@gmail.com</a
    >
  </div>
</div> -->
