.heading {
  text-align: center;
  font-family: "Julius Sans One", sans-serif;
  font-weight: 600;
  font-size: 30px;
}

.parent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  z-index: 999;
}

.item {
  padding: 20px;
  margin: 7px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

hr {
  width: 100%;
}

p {
  font-family: Lato;
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.8);
  }
}

svg {
  position: fixed;
  left: 0px;
  bottom: 0px;
  animation: ripple 15s infinite;
  transform-origin: 0px 500px;
  z-index: -1;
}

@media only screen and (min-width: 1000px) {
  .heading {
    font-size: 50px;
  }
  .item {
    font-size: larger;
  }
}
